In [4]:
# Importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

In [7]:


# Load the Box Office Mojo dataset
file_path = file_path = "C:\\Users\\ADMIN\\documents\\data-science\\movie-financial-performance-analysis\\data\\bom.movie_gross.csv"

df = pd.read_csv(file_path)
df.head()

# Read CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# Display basic dataset info
print("Dataset Loaded Successfully ✅")
print(df.info())

# Preview the first few rows
df.head()

Dataset Loaded Successfully ✅
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB
None

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [8]:
# Read the CSV file into a DataFrame
movie_gross = pd.read_csv(file_path)

# Display dataset structure
print(" Movie Gross Data Loaded Successfully!")
print(movie_gross.info())

# Preview the first few rows
movie_gross.head()

 Movie Gross Data Loaded Successfully!
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB
None

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [9]:
# Check for missing values in the movie gross dataset
movie_gross.isnull().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [10]:
# Check for duplicate rows in the dataset
duplicate_rows = movie_gross.duplicated()
print("Number of duplicate rows:", duplicate_rows.sum())

# Optional: View the duplicate rows themselves
movie_gross[duplicate_rows]

Number of duplicate rows: 0

Empty DataFrame
Columns: [title, studio, domestic_gross, foreign_gross, year]
Index: []

### cleaning the data ###